.section-content_control{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap:50px;
  row-gap: 50px;


  @include tablet{
    justify-content: center;
  }

  &-item{
    background-color:#485084;
    width: 280px;
    height: 250px;
    border: solid 2px #ffffff;
    border-radius:var(--border-radius);
    position: relative;
    & p{
      width: 230px;
      text-align: center;
      @include abs-center;
      
    }
  }
}
.control-img{
  display: flex;
  justify-content: center;

  & img{
    border-radius: var(--border-radius);
    display: inline-block;
    width: 500px;
    @include tablet{
      
        width: 300px;
      
    }
  }
}
 



