.contacts-p{
  margin: 0;
}
.contact-text{
  display: flex;
  flex-direction: column;
  gap:35px;
}
@include mobile{
  .contacts-p{
    text-align: center;
  }
  .contacts-button{
    margin: 0 auto;
  }
}

