

.main__section{
  display: flex;
  flex-direction: column;

  &-hero{
    
    @include tablet{
     
      &-text-button{
        max-width: 485px;
        align-items:center;
        flex-direction: column;
        display: flex;
      }
    }
    @include mobile{
      flex-direction: column;
      align-items:center;
      justify-content: space-evenly;
    }

  display: flex;
  justify-content: space-between;
  align-items:center;
  column-gap:40px; 

    &-text-button{
      max-width: 485px;
      max-height: auto;
    }

    &-img{
    @include tablet{
      width: 380px;

    }
    @include mobile{
      width: 480px;
    }
    display: block;
    width: 530px;
    height: auto;
    margin-top: 35px;
    }
  }
}




