.carousel{
  display: flex;
  justify-content: center;
}
.carousel-inner{
  width: 950px;
  @include tablet{
    width: 600px;
  }
  & img{
    border-radius:var(--border-radius);
  }
}






  





