@font-face{
  font-family: 'Spase Grotesk';
  src: url(../fonts/SpaceGrotesk-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap; //font-display: swap; — это свойство CSS, которое управляет тем, как браузер отображает шрифты, пока они загружаются. 1. Первоначальная загрузка: Когда страница загружается, браузер использует системный шрифт или шрифт по умолчанию для отображения текста, пока загружается указанный веб-шрифт.
// 2. Замена шрифта: Как только веб-шрифт загружается, браузер заменяет временный шрифт на загруженный шрифт без перезагрузки страницы.
}
